{% extends "base_client.html" %}
{% block content %}
    {% load gravatar %}


     <section id="portfolio" class="bg-darkest-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h3>{{ post.title }}</h3>
                                {% if post.image %}
                                    <img src="{{ MEDIA_URL }}{{ post.image }}">
                                {% endif %}
                                <p style="font-family: Montserrat !important;">{{ post.content }}</p>
                                <button class="btn btn-default" onclick="location.href='{% url 'post_list' %}'">Back To
                                    Blog
                                </button>
                    {% if user.is_authenticated and user.id == post.author_id %}
                                <button class="btn btn-default" onclick="location.href='{% url 'edit_post' post.id %}'">
                                    Edit
                                </button>
                    {% else %}
                     <button class="hidden" onclick="location.href='{% url 'edit_post' post.id %}'">
                                    Edit
                                </button>
                    {% endif %}

                                <p style="font-family: Montserrat !important;">{{ post.published_date }} | <strong>Views</strong> {{ post.views }} |
                                    <strong>Tag</strong> {{ post.tag }}</p>
                                                         <p style="font-family: Montserrat !important;"> {% load disqus_tags %}
    {% set_disqus_title post.title %}
    {% disqus_show_comments %}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}