apns2==0.3.0
appdirs==1.4.3
asn1crypto==0.22.0
boto==2.46.1
certifi==2017.4.17
cffi==1.10.0
chardet==3.0.4
cryptography==1.9
disqus==0.0.4
dj-database-url==0.4.2
Django==1.10.6
django-debug-toolbar==1.7
django-disqus==0.5
django-forms-bootstrap==3.0.1
django-gravatar2==1.4.0
django-jsonfield==1.0.1
django-push-notifications==1.5.0
django-storages==1.5.2
django-stripe-payments==2.0.0
enum34==1.1.6
funcsigs==1.0.2
google-api-python-client==1.6.2
gravatar==0.1
gunicorn==19.7.1
h2==2.6.2
hpack==3.0.0
httplib2==0.10.3
hyper==0.7.0
hyperframe==3.2.0
idna==2.5
ipaddress==1.0.18
mock==2.0.0
oauth2client==4.1.1
oauthlib==2.0.1
olefile==0.44
packaging==16.8
pbr==2.0.0
Pillow==2.9.0
psycopg2==2.7.1
pyasn1==0.2.3
pyasn1-modules==0.0.9
pycparser==2.18
PyJWT==1.5.2
pyOpenSSL==17.3.0
pyparsing==2.2.0
pytz==2017.2
requests==2.18.1
requests-oauthlib==0.8.0
rsa==3.4.2
simplejson==3.10.0
six==1.10.0
sqlparse==0.2.3
stripe==1.62.0
tweepy==3.5.0
uritemplate==3.0.0
urllib3==1.22

