{% extends "base_client.html" %}
{% load bootstrap_tags %}
{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center team-member">
                    <h2>We want to know more</h2>

                    <h2>You do not have a Profile with us!</h2>
                    <h3> We would like to know more please go to<br><a href="{% url 'missing_profile' %}">Profile
                        Management</a></h3>
                </div>
            </div>
        </div>
    </section>
{% endblock %}