{% extends "base_client.html" %}
{% load bootstrap_tags %}
{% block content %}
      <section id="portfolio" class="bg-darkest-gray">
        <div class="container" style="font-family: Montserrat !important;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="container target" >
            <div class="row">
                <div class="col-sm-2" style="margin-top:20px !important;">
                                            {% if next %}
                            <form role="form" method="post" action="{% url 'profile' %}?next={{ next }}">
                           <form role="form" method="post" action="{% url 'profile' %}">
                          {% else %}                      <form role="form" method="post" action="{% url 'profile' %}">
                    {% endif %}

                    <a href="/users" ><img title="profile image"
                                                                               class="img-circle img-responsive" style="max-height: inherit !important;" src="
                        {{ MEDIA_URL }}{{ user.userprofile.photo }}"></a>
                </div>
                <div class="col-sm-6">
                    <h1>{{ request.user.username }}</h1>
                </div>
                 <div class="col-sm-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><strong>Profile</strong></div>
                                    <div class="panel-body" style="color:black !important;"><strong>Full
                                        Name:</strong> {{ user.first_name }} {{ user.last_name }}</div>
                                    <div class="panel-body" style="color:black !important;"><strong>Starting
                                        Weight:</strong> {{ user.userprofile.weight }}</div>
                                    <div class="panel-body" style="color:black !important;"><strong>BMI:</strong> </div>
                                </div>
                            </div>
            </div>
            <div class="row">
            <div class="col-sm-12">
                <div class="panel-body">
                        <div class="panel panel-default">
                            <div class="panel-heading"><strong>Fitness Goals</strong></div>
                            <div class="panel-body" style="color:black !important;"> {{ user.userprofile.goals }}</div>
                        </div>
                    </div>


                            <div class="col-sm-12 text-centered">
                                <div class="panel panel-default target">
                                    <div class="panel-heading"><strong>Physique & Check In Posts</strong></div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="thumbnail">
                                                    <img alt="300x200" src="http://placehold.it/300x200">
                                                    <div class="caption">
                                                        <h5 style="color:black !important; text-align: center !important;">
                                                            May 2016 Physique Update
                                                        </h5>
                                                        <p>
                                                            Sticking to nutrition plan and workout plan to date.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="thumbnail">
                                                    <img alt="300x200" src="http://placehold.it/300x200">
                                                    <div class="caption">
                                                        <h5 style="color:black !important; text-align: center !important;">
                                                             June 2016 Physique Update
                                                        </h5>
                                                        <p>
                                                            Vacation has offered added on temptations. But keeping active at the beach has helped to maintain weight.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="thumbnail">
                                                    <img alt="300x200" src="http://placehold.it/300x200">
                                                    <div class="caption">
                                                        <h5 style="color:black !important; text-align: center !important;">
                                                             July 2016 Physique Update
                                                        </h5>
                                                        <p>
                                                           Fantastic loss to date. Over the moon.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
            </div>
            </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
{% endblock %}